@charset "utf-8";
.main {
  position: absolute;
  left:50%;
  display: flex;
  justify-content: space-between;
  height: var(--cardHeight);
  background-size: cover;
  background-position: center center;
  padding: 4vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
  overflow: hidden;
  transform:translateX(-50%);
}
.main > span{position:absolute;top:10px;right:20px;font-size:1.5rem;color:#fff;}
.info{opacity:0;}
.info,
.info > div{display:flex;flex-direction:column;gap:1.3vw;align-items:baseline;justify-content:space-between;}
.info{flex:0 1 25%;}
.info > div > span{padding:.4rem 1.3rem;border:1px solid #fff;border-radius:2.5rem;color:#fff;font-size:1.6rem;font-weight:300;white-space:pre;}
.info h2{font-size:2vw;line-height:2.8vw;color:#fff;font-weight:500;word-break:keep-all;}
.info p{font-size:1.1vw;word-break:keep-all;line-height:1.8vw;color:#fff;font-weight:300;}
.info a{position:relative;width:2.5vw;height:2.5vw;padding:.8rem 2rem;border-radius:5rem;font-weight:500;font-size:0;transition:.3s;background-color:#fff;background-color:#fff;line-height:1.6vw;text-align:center;white-space:pre;}
.info a::before,
.info a::after{position:absolute;top:50%;left:50%;display:inline-block;content:'';background-color:#000;transform:translate(-50%, -50%);transition:.2s;}
.info a::before{width:20px;height:2px;}
.info a::after{width:2px;height:20px;}
.info a:hover{width:20rem;font-size:0.9vw}
.info a:hover::before,
.info a:hover::after{opacity:0;}
.image{position:relative;width:850px;align-self:center;padding:0 5rem;}
.image :global(.browser_frame){width:100%;height:100%;}
.image :global(.browser_frame) img{height:calc(100% - 42px);object-fit:contain;}
:global(.image_2){width:18%;}
:global(.image_3){width:18%;}

@media screen and (max-width: 767px) { /* Mobile */
  .main{max-width:100%;padding:4rem;}
  .info{margin-bottom:3rem;}
  .info > div > span{top:25px;}
  .info h2{margin:5rem 0 2rem;font-size:4rem;line-height:4.8rem;}
  .info p{font-size:2.3rem;line-height:3.5rem;word-break:break-all;}
}

@media all and (min-width: 768px) and (max-width: 1024px) { /* Tablet  */
  .main{padding:6rem 6rem 5rem;border-radius:20px;}
  .info{margin-bottom:3vh;}
  .info > div > span{top:30px;}
  .info h2{margin:2rem 0;font-size:3.5rem;line-height:5.5rem;}
  .info p{font-size:2.2rem;line-height:3.3rem;}
}

@media all and (max-width: 1024px) { /* Mobile & Tablet  */
  .main{position:relative;left:auto;transform:none;width:100%;height:auto;margin:0;display:block;border-radius:0;}
  .main > span{display:none;}
  .info{opacity:1;gap:1vh;}
  .info > div > span{position:absolute;}
  .info > div{width:100%;flex-direction:row;align-items:center;justify-content:space-between;gap:2rem;}
  .info a{width:auto;height:auto;padding:1.5rem 2rem;font-size:1.8rem;}
  .info a::before,.info a::after{display:none;}
  .info a:hover{width:auto;font-size:1.8rem;}
  .image{width:100%;}
  .image{padding:0;}
  .browser_frame img{width:100%;}
  .image > img:nth-child(n+2){display:none;}
}